<a href="https://colab.research.google.com/github/PavanPk1/MyPractice_Colab_notebooks/blob/main/Pandas_Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions for Pandas Practice
---
Welcome to the Pandas Practice! In this exercise, you will work with the Rick and Morty dataset to practice your data manipulation and analysis skills using Pandas. Please follow the instructions below carefully:

1. **Understand the Dataset**: The dataset used in this practice is related to the Rick and Morty TV show. Familiarize yourself with the dataset's structure and content before starting.

2. **Read Each Question Thoroughly**: Each question in this practice is designed to test different Pandas functionalities. Make sure you understand the requirements of each question before you begin coding.

3. **Write Your Code in the Provided Cells**: For each question, a code cell is provided where you should write your solution. Do not modify any other cells or sections of the notebook.

4. **Execute Your Code**: After writing your code in each cell, run the cell to check if your code produces the expected results. Verify that the output matches the requirements specified in the question.

5. **Complete All Questions**: Ensure that you attempt and complete all the questions provided in the notebook. Each question is designed to test different Pandas skills and concepts.

6. **Review Your Work**: Before submitting, double-check your answers and make sure all questions are addressed. Ensure that the notebook runs without errors and that all outputs are correct.

7. **Download Your Notebook**: Once you have completed all the questions and verified your solutions, download the notebook file (.ipynb). You can do this by selecting `File` > `Download` > `Download .ipynb` from the Google Colab menu.

8. **Submit Your Practice**: Upload the downloaded .ipynb file to the designated learning platform for submission.

9. **Verify Submission**: Ensure that you have uploaded the correct file and that it is not corrupted. If you encounter any issues with the file, you may need to resubmit.

---

Good luck with your practice!

In [ ]:
import numpy as np
import pandas as pd

character_data_url = "https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/content/aiml/classical-ml/locations_dataset.csv"
episodes_data_url = "https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/content/aiml/classical-ml/episodes_dataset.csv"
locations_data_url = "https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/content/aiml/classical-ml/characters_dataset.csv"

characters = pd.read_csv(character_data_url,index_col=0)
episodes = pd.read_csv(episodes_data_url,index_col=0)
locations = pd.read_csv(locations_data_url,index_col=0)

Q1.Print Shape of Characters data.

In [ ]:
# write your code here
print(characters.shape)

(20, 7)

Q2. What is the total count of unique character names in the character data? (Print the output in the format `Unique Character:`)

In [ ]:
# write your code here
unique_character = characters['name'].nunique()
print("Unique Character:",unique_character)

Unique Character: 20

Q3. How many Episodes are available in season 1. (Hint: Use episodes data) (Print the output in the format `Season 1 Episodes: `)

In [ ]:
# write your code here
season_1_episodes = episodes[episodes['episode'].str.startswith('S01')]
print("Season 1 Episodes:",len(season_1_episodes))
# ls = episodes['episode'].str.startswith('S01')
# ls

Season 1 Episodes: 11

Q.4 Retrieve the column names from the `locations` DataFrame.

In [ ]:
# write your code here
print(locations.columns.tolist())

['id', 'name', 'status', 'species', 'type', 'gender', 'origin', 'location', 'image', 'episode', 'url', 'created']

Q.5 Select only the `Name` and `Species` columns from the `locations` DataFrame.

In [ ]:
# write your code
subset = locations[['name','species']]
print(subset)

                         name species
0                Rick Sanchez   Human
1                 Morty Smith   Human
2                Summer Smith   Human
3                  Beth Smith   Human
4                 Jerry Smith   Human
5   Abadango Cluster Princess   Alien
6            Abradolf Lincler   Human
7            Adjudicator Rick   Human
8             Agency Director   Human
9                  Alan Rails   Human
10            Albert Einstein   Human
11                  Alexander   Human
12               Alien Googah   Alien
13                Alien Morty   Alien
14                 Alien Rick   Alien
15               Amish Cyborg   Alien
16                      Annie   Human
17              Antenna Morty   Human
18               Antenna Rick   Human
19    Ants in my Eyes Johnson   Human

Q.6 List the unique names of the characters who's species is 'Human'. (Output should be in list format)

In [ ]:
# write your code here
humans = locations[locations['species'] == 'Human']
print(humans['name'].unique())

['Rick Sanchez' 'Morty Smith' 'Summer Smith' 'Beth Smith' 'Jerry Smith'
 'Abradolf Lincler' 'Adjudicator Rick' 'Agency Director' 'Alan Rails'
 'Albert Einstein' 'Alexander' 'Annie' 'Antenna Morty' 'Antenna Rick'
 'Ants in my Eyes Johnson']

Q.7 List the unique male character names who's status is `Alive`

In [ ]:
# write your code here
alive = locations[locations['status'] == 'Alive']
male = alive[alive['gender'] == 'Male']
print(male['name'].unique())

['Rick Sanchez' 'Morty Smith' 'Jerry Smith' 'Antenna Morty']

Q.8 What is the total count of unique species in the `locations` DataFrame? (Print the output in the format: `Unique species count: `)

In [ ]:
# write your code here
unique_species = locations['species'].nunique()
print("Unique species count:",unique_species)

Unique species count: 2

Q.9 Name of the episodes in the list format which relseased on `January 13, 2014`

In [ ]:
# write your code here
specific_date = episodes[episodes['air_date'] == 'January 13, 2014']
print(specific_date['name'].tolist())

['M. Night Shaym-Aliens!']

Q.10  List the Female character names who's species Alien.

In [ ]:
# write your code here
female_alien = locations[(locations['gender'] == 'Female') & (locations['species'] == 'Alien')]
print(female_alien['name'].tolist())

['Abadango Cluster Princess']

# End!